*.log

# Carpetas locales
node_modules
basededatos
api
pgadmin
datos/**.*
!datos/.gitkeep
datos/fuentes/**.*
!datos/fuentes/MunicipiosVeredas1MB.json
!datos/fuentes/departamentosFuente.json
datos/exportados/**.*
!datos/exportados/.gitkeep

.env
.DS_Store
